<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.avramescu.codechallenges">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".week8.swipeRefresh.SwipeRefreshActivity" />
        <activity android:name=".week7.DatePickerActivity" />
        <activity android:name=".week7.BatteryLevelActivity" />
        <activity android:name=".week7.CardViewActivity" />
        <activity
            android:name=".week6.tab.TabActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".week6.NavigationActivity"
            android:label="Navigation Activity"
            android:theme="@style/MyThemeNoActionBar" />
        <activity android:name=".week6.CommunicationListenerActivity" />
        <activity android:name=".week6.CommunicationMethodsActivity" />
        <activity android:name=".week6.CommunicationBundleActivity" />
        <activity android:name=".week6.DynamicallyFragmentActivity" />
        <activity android:name=".week6.StaticallyFragmentActivity" />
        <activity android:name=".week5.IntentActivity" />
        <activity android:name=".week5.SecondActivityChat" />
        <activity android:name=".week5.FirstActivityChat" />
        <activity android:name=".week5.SecondActivityButtons" />
        <activity android:name=".week5.FirstActivityButtons" />
        <activity android:name=".week5.SecondActivity" />
        <activity android:name=".week5.FirstActivity" />
        <activity android:name=".week4.RecyclerViewActivity" />
        <activity android:name=".week4.ConstraintLayout" />
        <activity android:name=".week4.ViewGroupsActivity" />
        <activity android:name=".week3.SpinnerActivity" />
        <activity android:name=".week3.FrameLayoutActivity" />
        <activity android:name=".week3.ScrollViewActivity" />
        <activity android:name=".week2.MultipleViewsActivity" />
    </application>

</manifest>